---
layout: default
---

<div class="home"><div class="col-sm-2" style="width: 200px; margin-left: auto; margin-right: auto;">
<img src="assets/zhangn1.jpg" alt="neng_img" width="200" class="profile" />
</div>
<section class="section summary-section">
    <h2 class="section-title">About Me</h2>
    <div class="summary">
        <p> I am now an Assistant Professor at the School of Software Engineering, Sun Yat-sen University, China. Prior to joining Sun Yat-sen University, I was a Postdoc at Zhejiang Univeristy advised by <a href="http://person.zju.edu.cn/en/0087125">Prof. Shanping Li</a> and <a href="https://xin-xia.github.io/">Dr. Xin Xia</a>. I got my Ph.D degree in December 2017 under the supervision of Prof. Keqing He from Wuhan University, China.</p>
    
        <p>My currently research focuses on mining knowledge from rich Software Engineering data and developing knowledge-based intelligient approaches to improving developers' productivity and software quality. During my research work, I am interested in adopting various techniques including data mining, knowledge graph, natural language processing, machine learning, and program analysis.</p>

		<p>My Chinese homepage can be found at <a href="https://sse.sysu.edu.cn/teacher/187">here</a>.</p>
    </div><!--//summary-->
</section><!--//section-->

<section class="section experiences-section">
        <h2 class="section-title">Experiences</h2>
                    <div class="item">
                            <div class="meta">
                                <div class="upper-row">
                                    <h3 class="job-title">Assistant Professor (also Research Supervisor)</h3>
                                    <div class="time">2021.04 - Present</div>
                                </div><!--//upper-row-->
                                <div class="company">School of Software Engineering, Sun Yat-sen University, Zhuhai, China </div>
                            </div><!--//meta-->
                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">PostDoc</h3>
                                <div class="time">2018.12 - 2021.03</div>
                            </div><!--//upper-row-->
                            <div class="company">Zhejiang Univeristy, Hangzhou, China</div>
                        </div><!--//meta-->
                    </div><!--//item-->
              </section><!--//section-->

<section class="section experiences-section">
    <h2 class="section-title">Education</h2>
                
          <div class="item">
                  <div class="meta">
                      <div class="upper-row">
                          <h3 class="job-title">PhD in Software Engineering</h3>
                          <div class="time">2014.09 - 2017.12</div>
                      </div>
                      <div class="company">Wuhan University, Wuhan, China</div>
                  </div><!--//meta-->
          </div><!--//item-->
          <div class="item">
                  <div class="meta">
                      <div class="upper-row">
                          <h3 class="job-title">MSc in Software Engineering</h3>
                          <div class="time">2012.09 - 2014.06</div>
                      </div>
                      <div class="company">Wuhan University, Wuhan, China</div>
                  </div><!--//meta-->
          </div><!--//item-->
          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">BSc in Software Engineering</h3>
                      <div class="time">2008.09 - 2012.06</div>
                  </div>
                  <div class="company">Wuhan University, Wuhan, China</div>
              </div><!--//meta-->
      </div><!--//item-->

  </section><!--//section-->
<section class="section publication-section">
	<h2 class="section-title">Publication</h2>
    <div class="intro">
        <p class="subsection-title">Journal Papers</p>
    </div>  <!--//intro-->
    {% assign len = site.data.journals | size | plus : 1  %} 
    {% for journal in site.data.journals %}
    {% assign idx = forloop.index %}
    <div class="item">
        <span class="project-tagline">[{{idx}}] {{ journal.authors }}. "{{ journal.title }}". <em>{{ journal.venue }}</em>, {{ journal.year }}</span>
        {% if journal.remark%}
            (<span class="project-tagline"><b>{{ journal.remark }}</b></span>)
        {% endif %}
        {% if journal.pdf%}
            <span class="pull-right"> <a href="{{ site.url }}/{{ journal.pdf }}"><b>[PDF]</b></a></span>
        {% endif %}

    </div>
    {% endfor %}
	</br>
    <div class="intro">
            <p class="subsection-title">Conference Papers</p>
    </div>
    {% assign len = site.data.conferences | size | plus : 1  %} 
    {% for paper in site.data.conferences %}
    {% assign idx = forloop.index %}
    <div class="item">
            <span class="project-tagline">[{{idx}}] {{ paper.authors }}. "{{ paper.title }}". <em>{{ paper.venue }}</em>, {{ paper.year }}</span>
            {% if paper.remark%}
                (<span class="project-tagline"><b>{{ paper.remark }}</b></span>)
            {% endif %}
            {% if paper.pdf%}
            <span class="pull-right"> <a href="{{ site.url }}/{{ paper.pdf }}"><b>[PDF]</b></a></span>
            {% endif %}
    </div>
    {% endfor %}

	</br>
    <div class="intro">
        <p class="subsection-title">Papers in Chinese</p>
    </div><!--//intro-->
    {% assign len = site.data.chineses | size | plus : 1  %} 
    {% for chinese in site.data.chineses %}
    {% assign idx = forloop.index %}
    <div class="item">
        <span class="project-tagline">[{{idx}}] {{ chinese.authors }}. "{{ chinese.title }}". <em>{{ chinese.venue }}</em>, {{ chinese.year }}</span>
        {% if chinese.remark%}
            (<span class="project-tagline"><b>{{ chinese.remark }}</b></span>)
        {% endif %}
        {% if chinese.pdf%}
            <span class="pull-right"> <a href="{{ site.url }}/{{ chinese.pdf }}"><b>[PDF]</b></a></span>
        {% endif %}
    </div>
    {% endfor %}
   
</section><!--//section-->
